#ourText {
    top:0;
    bottom: 0;
    resize: none;
    padding: 1rem;
    position: absolute;
}

body {
    background-color: #EEEEEE;
}

#outer {
    position: fixed;
    left: 50%;
    top: 50%;
}

#other {
    position: fixed;
    left: 50%;
    top: 40%;
}

#leftHolder {
    position: absolute;
    right: 30%;
    top:0;
}
#right {
    position: absolute;
    left: 30%;
    top:0;
    width: auto;
}
#right::first-letter {
    color: red;
}

#outField {
    position: absolute;
}

#controls {
    position: fixed;
    right: 2em;
    bottom: 2em;
    width: 20em;
}
#controls * {
    display: block;
}

button {
    width: 15em;
    height: 2em;
}
#wrap {
    position: fixed;
    left: 0;
    top: 10px;
    bottom: 10px;

}